DVR Lens Calculator Results
 
CCD    Focal Length (mm)  Distance to Target $unit_l   Target Width $unit_l   Target Vert $unit_l
-----------------------------------------------------------------------------------------------
<!-- BEGIN name=data_row -->
$size     $lens_mm              $dist_z                  $win_x                $win_y<!-- END name=data_row -->
-----------------------------------------------------------------------------------------------

Service provided by Ascendent Group Technology Group http://www.AscendentGroup.com/ 

Phone: 1-250-426-8100
Fax: 1-250-426-8170
E-mail: info@ascendentgroup.com