<head>
<title>Pipe Calc Input</title></head>

<body bgcolor="#6699FF">
<br>
<br>

<form>

  <table border=0 cellpadding="2" align="center">
    <tr>
      <td>
        <!-- BEGIN name=room_basic -->
        <table border=0 cellpadding="2" align="center">

          <tr>
            <td colspan=5> Foot Print Area
          </tr>
          <!-- BEGIN name=room_part -->
          <tr>
            <td> <input type=text size=3 name="room::$room::part::x::$i">
            <td> x
            <td> <input type=text size=3 name="room::$room::part::y::$i">
            <td> =
            <td> $part_sqft sqft
          </tr>
          <!-- END name=room_part -->
          <tr>
            <td colspan=5> $room_subtot_sqft sqft
          </tr>

          <tr>
            <td colspan=5> Exposed Wall
          </tr>
          <tr>
            <td> Linear Length <input type=text size=3 name="room::$room::wall_exp">
            <td> x
            <td> Height <input type=text size=3 name="room::$room::part::y::$i">
            <td> =
            <td> $room_wall_exp_sqft sqft
          </tr>

        <table border=0 cellpadding="2" align="center">
        <!-- END name=room_basic -->
     </td>
    </tr>
    <tr align="center">
      <td colspan="2"><input type="submit" name="action_flow_calc"></td>
    </tr>

  </table>

</form>

</body>

</html>
