<head>
<title>Pipe Calc Input</title></head>

<body bgcolor="#6699FF">
<br>
<br>

<form>

  <table border=0 cellpadding="2" align="center">
    <tr>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>
        <div align="left">Fluid Temperature [F]</div>
      </th>
      <td>
        $fluid_temp
      </td>
    </tr>
    <tr>
      <th align="right">
        <div align="left">PEX Nominal Size</div>
      </th>
      <td>
         $pipe_size
      </td>
    </tr>
    <tr>
      <th align="right">
        <div align="left">Flow Rate [gpm]</div>
      </th>
      <td>
        $fluid_flow
      </td>
    </tr>
    <tr>
      <th align="right">
        <div align="left">Pipe Length [ft]</div>
      </th>
      <td>
        $pipe_len
      </td>
    </tr>
    <tr>
      <th align="right">
        <div align="left">Pipe Type</div>
      </th>
      <td>
        $pipe_type
      </td>
    </tr>

    <tr>
      <td colspan="2"><hr>
      <td>
    </tr>

    <tr>
      <th align="right">
        <div align="left">Head Loss [ft]</div>
      </th>
      <td>
        $loss_ft
      </td>
    </tr>
    <tr>
      <th align="right">
        <div align="left">Pressure Loss [psi]</div>
      </th>
      <td>
        $loss_psi
      </td>
    <tr>
      <th align="right">
        <div align="left">Reynolds Number</div>
      </th>
      <td>
        $fluid_re
      </td>
    </tr>
    <tr>
      <th align="right">
        <div align="left">Fluid Velocity</div>
      </th>
      <td>
        $fluid_vel
      </td>
    </tr>
    <tr align="center">
    </tr>

  </table>
</form>

</body>

</html>
